:root
{
    --font-size-normal:              19px;
    --font-size-code:                15px;
    --font-size-side-dock:           15px;
    --font-size-side-dock-title:     18px;
    --font-size-status-bar:          12px;
    --font-size-h1:                  38px;
    --font-size-h2:                  30px;
    --font-size-h3:                  24px;
    --font-size-h4:                  21px;
    --font-size-h5:                  20px;
    --font-size-h6:                  19px;

/* << ------------------ Reading View ------------------ >> */
.markdown-preview-view h1 {
		font-size: 38px !important;
	}

.markdown-preview-view h2 {
		font-size: 30px !important;
	}

.markdown-preview-view h3 {
		font-size: 24px !important;
	}

.markdown-preview-view h4 {
		font-size: 21px !important;
	}

.markdown-preview-view h5 {
		font-size: 20px !important;
	}

.markdown-preview-view h6 {
		font-size: 19px !important;
	}

/* << ------------ Source View / Live Preview ------------ >> */
.cm-s-obsidian .cm-header.cm-header-1 {
		font-size: 38px !important;
	}
.cm-s-obsidian .cm-header.cm-header-2 {
		font-size: 30px !important;
	}
.cm-s-obsidian .cm-header.cm-header-3 {
		font-size: 24px !important;
	}
.cm-s-obsidian .cm-header.cm-header-4 {
		font-size: 21px !important;
	}
.cm-s-obsidian .cm-header.cm-header-5 {
		font-size: 20px !important;
	}
.cm-s-obsidian .cm-header.cm-header-6 {
		font-size: 19px !important;
	}

.inline-title {
  color: #ffa500;
  font-size: 24px;
}